/* @media screen and (min-width: 1200px){
    /*Desktop*/
    /* .imagem2 {
        text-align: left;
         
    }
    
}
@media screen and (min-width: 601px) and (max-width: 1199px){
    /*Tablet*/
    /* .imagem2 {
        text-align: left;
         
    }
    }
@media screen and (max-width: 600px){
    /*Celular*/
    /* .imagem2 {
        text-align: center;
        width: 100%;
        
    } */

     /* */


/* 
.titulo{
    text-align: center;
}
.video{
    text-align: center;
} */